.modal {
  height: 92vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: 0.5s;

  &.active {
    transform: scale(1);
  }

  &__content {
    padding: 20px;
    background-color: white;
    height: 250px;
    width: 200px;
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}

